.navtext {
  font-family: "DM Sans", sans-serif;

  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.navbutton {
  @extend.navtext;
  font-family: "Inter", sans-serif;
  color: #043873;
}
.navbutton2 {
  @extend.navtext;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
.head {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-left: 32px;
  padding-top: 147.69px;
}
.para {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -2%;
  color: #ffffff;
  margin-left: 32px;
}
