.hero{
    width: 100%;
    height: 829px;
    // background-color: $navcolo;
    background-color: #043873 ;
    background-image: url(../../../public/Element.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    

}